<!DOCTYPE html>

<html lang="en">

<head>
    <meta name="viewport" content="width=device-width , initial-scale=1.0">
    <meta name="description" content="Restoration Guide For WoW Classic">
    <meta name="keywords" content="Cangurul,Restoration,Druid,Moonglow,Nature's Grace,Warcraftlogs">
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="../css/DruidHub_WoW_Classic_Resto_guide.css">
    <link rel="shortcut icon" type="image/png" href="../images/druidhub_logo.png">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <title>
        DruidHub:Restoration Druid WoW Classic Guide
    </title>

</head>

<body>
    <header class="top-side">

        <% include ../fragments/DruidHub_header %>

    </header>

    <div class="resto-wow-classic-content">

        <h1 class="header-intro">Welcome to my WoW Classic Restoration Guide for Druids</h1>
        <section class="section-border">
            <p>As a small presentation, I'm <span class="cangurul-font"> Cangurul</span>, an experienced Druid, I'm currently playing classic on Dreadmist-EU with the guild Rokillers where I sarted to clear Molten Core and Onyxia pretty early so I pretty
                much know the fights in and out which is important for a restoration Druid, as the build I'm currently running revolves around HoTs to really do big numbers on healing meters, but I'll go more in-depth in the talent section about my build.
                This knowledge allows me to score ranks on <a href="https://www.warcraftlogs.com/">Warcraft Logs</a> that are some of the best in the world.</p>
            <div class="row">
                <div class="col">
                    <img class="page-image" src="../images/warcraft-logs-rank.png" alt="warcraft logs rank" title="Warcraftlogs current rank world">
                    <img class="page-image" src="../images/World-of-Warcraft-Classic-Best-Healing.jpg" alt="wow classic" title="WoW classic">


                </div>
                <div class="col">
                    <img class="page-image" src="../images/download.jpg" alt="wow classic" title="WoW classic">
                    <img class="page-image" src="../images/druid_forms.jpg">
                    <p class="txtoverlap">Cangurul</p>
                </div>
                <div class="col">
                    <img class="page-image" src="../images/druid-sets.jpg">
                    <img class="page-image" src="../images/druid-talen.jpg">
                </div>
            </div>
            <p>That being said, in this guide I'll guide you through the following hightlights:</p>
            <h2 class="basic-header">Guide Highlights</h2>
            <nav class="guide-highlights">
                <a href="#overview">Overview</a>
                <a href="#bis-gear">BiS Gear</a>
                <a href="#stats">Stats</a>
                <a href="#consumables">Consumables</a>
                <a href="#talents&builds">Talents&Builds</a>
            </nav>
        </section>
        <section class="section-border">
            <h2 id="overview" class="basic-header">Overview<img class="animated-element" alt="cat-form" title="cat-form" src="../images/cat-moving animation.png"></h2>

            <p><q class="fancy-quotes">The druid is a formidable class with good healing ability, potent offensive spells, excellent buffs, and the unique ability to shapeshift into different animal types. In its animal forms, the druid can adopt new roles, such as that of a warrior or rogue, giving it great versatility.</q>--World
                of Warcraft Game Manual, 2004</p>
            <section>
                <h3>Viability of Restoration Druid Healers in WoW Classic PvE content</h3>
                <p>Healing Druids are extremely viable in Classic WoW and can fill both "Raid Healing" roles, as well as "Tank Healing" roles. Most raids will usually bring 1-3, as what they lack in their ability to do healing/damage they compensate by having
                    lots of utility.
                </p>
                <p>Even though they are strong, their place in a 40 man raid is usually restricted, as the HoTs effects of healing abillities are unique to a target, meaning that other druids cant stack <a href="https://classic.wowhead.com/spell=774/rejuvenation"
                        class="yellow-text">Rejuvenation</a> on the same target for example.</p>
            </section>
            <section>
                <h3>Strenghts and Weaknesses</h3>
                <section>
                    <h4>Strenghts</h4>
                    <ul>
                        <li>Tons of utility with abillities like : <a href="https://classic.wowhead.com/spell=24752/mark-of-the-wild" class="yellow-text">Mark of the Wild</a>,<a href="https://classic.wowhead.com/spell=29166/innervate" class="yellow-text">Innevrate</a>,
                            <a href="https://www.wowhead.com/spell=65863/faerie-fire" class="yellow-text">Faerie Fire</a>, <a href="https://classic.wowhead.com/spell=20484/rebirth" class="yellow-text">Rebirth</a>.</li>
                        <li>Hybrid talent choice, meaing that u can do almost everything in the game with little effort, like tanking, meele DPS, range DPS.</li>
                        <li>Combat Ress.Druids are the only class that can combat ress in WoW classic which is sometimes the difference of wiping in a raid, and managing to kill the boss.</li>
                    </ul>
                </section>
                <section>
                    <h4>Weaknesses</h4>
                    <ul>
                        <li>No normal ress ability.When you wipe in WoW, healers have to ress the entire 40-man raid which can take a while, so every healer has to ress but as druids you just sit and watch.</li>
                        <li>Don't expect to be the top of the charts. In a optimal scenario, other healers such as priests should be able to out-heal you most of the time.</li>
                    </ul>
                </section>
            </section>

        </section>

        <section class="section-border">
            <h2 id="bis-gear" class="basic-header">BiS Gear:Phase 1</h2>
            <p>Gearing up your restoration druid is pretty simple. U should always prioritize +Healing Power over pretty much anythig else. Make sure u have a good Intellect number before u do that though.</p>
            <p>While running a <a href="https://classic.wowhead.com/spell=16880/natures-grace" class="yellow-text">Nature's Grace</a>/<a href="https://classic.wowhead.com/spell=8936/regrowth" class="yellow-text">Regrowth</a>build make sure that u have at
                least 5k Mana, so u can manage the high mana cost that build requires.</p>
            <div class="overflowing-tables">
                <section>
                    <h3>Head Slot</h3>
                    <table>
                        <thead>
                            <tr>
                                <th></th>
                                <th>Item</th>
                                <th>Source</th>
                                <th>Location</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>Best</td>
                                <td class="purple-text">Stormrage Cover</td>
                                <td>Dropped by: <span class="yellow-text">Onyxia</span></td>
                                <td>Raid - <span class="yellow-text">Onyxia's Lair</span></td>
                            </tr>
                            <tr>
                                <td>Optional</td>
                                <td class="blue-text">Green Lens Of Healing</td>
                                <td>Engineering Recipe</td>
                                <td>Engeneering Trainer</td>
                            </tr>
                            <tr>
                                <td>Enchant</td>
                                <td>Lesser Arcanum of Rumination</td>
                                <td>Reward from Libram Of Rumination</td>
                                <td>Arcanum Quest</td>
                            </tr>
                        </tbody>

                    </table>

                    <h3>Neck Slot</h3>
                    <table>
                        <thead>
                            <tr>
                                <th></th>
                                <th>Item</th>
                                <th>Source</th>
                                <th>Location</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>Best</td>
                                <td class="purple-text">Choker Of The Fire Lord</td>
                                <td>Dropped by: <span class="yellow-text">Ragnaros</span></td>
                                <td>Raid- <span class="yellow-text">Molten Core</span></td>
                            </tr>
                            <tr>
                                <td>Optional</td>
                                <td class="blue-text">Animated Chain Necklace</td>
                                <td>Dropped by: <span class="yellow-text">Ramstein The Gorger</span></td>
                                <td>Dungeon - <span class="yellow-text">Stratholme</span></td>
                            </tr>
                        </tbody>
                    </table>

                    <h3>Shoulders Slot</h3>
                    <table>
                        <thead>
                            <tr>
                                <th></th>
                                <th>Item</th>
                                <th>Source</th>
                                <th>Location</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>Best</td>
                                <td class="purple-text">Wild Growth Spaulders</td>
                                <td>Dropped by: <span class="yellow-text">Majordomo Executus</span></td>
                                <td>Raid - <span class="yellow-text">Molten Core</span></td>
                            </tr>
                            <tr>
                                <td>Optional</td>
                                <td class="purple-text">Cenarion Spaulders</td>
                                <td>Dropped by: <span class="yellow-text">Baron Gheddon</span></td>
                                <td>Raid - <span class="yellow-text">Molten Core</span></td>
                            </tr>
                            <tr>
                                <td>Enchant</td>
                                <td>Chromatic Mantle of Down</td>
                                <td>Purchased from Quartermaster Miranda Breechlock(Exalted with Argent Dawn)</td>
                                <td>Reputation Vendor - Eastern Plaguelands</td>
                            </tr>
                        </tbody>
                    </table>

                    <h3>Back Slot</h3>
                    <table>
                        <thead>
                            <tr>
                                <th></th>
                                <th>Item</th>
                                <th>Source</th>
                                <th>Location</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>Best</td>
                                <td class="purple-text">Hide Of the Wild</td>
                                <td>Leatherworking Recipe</td>
                                <td>Dungeon - <span class="yellow-text">Dire Maul</span></td>
                            </tr>
                            <tr>
                                <td>Optional</td>
                                <td class="blue-text">Archivist Cape</td>
                                <td>Dropped by: <span class="yellow-text">Arhivist Galford</span></td>
                                <td>Dungeon - <span class="yellow-text">Stratholme</span></td>
                            </tr>
                            <tr>
                                <td>Enchant</td>
                                <td>Enchant Cloak-Greater Resistance</td>
                                <td>Enchant Recipe</td>
                                <td>Dungeon - <span class="yellow-text">The Temple of Atal'Hakkar</span></td>
                            </tr>
                        </tbody>
                    </table>

                    <h3>Chest Slot</h3>
                    <table>
                        <thead>
                            <tr>
                                <th></th>
                                <th>Item</th>
                                <th>Source</th>
                                <th>Location</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>Best</td>
                                <td class="blue-text">Robes of the Exalted</td>
                                <td>Dropped by: <span class="yellow-text">Baron Rivendare</span></td>
                                <td>Dungeon - <span class="yellow-text">Stratholme</span></td>
                            </tr>
                            <tr>
                                <td>Optional</td>
                                <td class="purple-text">Robe Of Volatile Power</td>
                                <td>Dropped by <span class="yellow-text">Gehennas, Shazzrah, Lucifron</span></td>
                                <td>Raid - <span class="yellow-text">Molten Core</span></td>
                            </tr>
                            <tr>
                                <td>Enchant</td>
                                <td>Enchant Chest-Greater Stats</td>
                                <td>Enchant Formula</td>
                                <td>World Drop</td>
                            </tr>
                        </tbody>
                    </table>

                    <h3>Wrists Slot</h3>
                    <table>
                        <thead>
                            <tr>
                                <th></th>
                                <th>Item</th>
                                <th>Source</th>
                                <th>Location</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>Best</td>
                                <td class="purple-text">Flarecore Wraps</td>
                                <td>Tailoring Recipe</td>
                                <td>Raid - <span class="yellow-text">Molten Core</span></td>
                            </tr>
                            <tr>
                                <td>Optional</td>
                                <td class="blue-text">Bracers Of Prosperity</td>
                                <td>Dropped by: <span class="yellow-text">King Gordokk</span></td>
                                <td>Dungeon - <span class="yellow-text">Dire Maul</span></td>
                            </tr>
                            <tr>
                                <td>Enchant</td>
                                <td>Enchant Bracer- Superior Spirit</td>
                                <td>Enchant Formula</td>
                                <td>World Drop</td>
                            </tr>
                        </tbody>
                    </table>


                    <h3>Hands Slot</h3>
                    <table>
                        <thead>
                            <tr>
                                <th></th>
                                <th>Item</th>
                                <th>Source</th>
                                <th>Location</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>Best</td>
                                <td class="blue-text">Hands Of The Exalted Herald</td>
                                <td>Dropped by: <span class="yellow-text">High Priestess of Thaurissan</span></td>
                                <td>Dungeon - <span class="yellow-text">Blackrock Depths</span></td>
                            </tr>
                            <tr>
                                <td>Optional</td>
                                <td class="blue-text">Gloves Of Restoration</td>
                                <td>Dropped by: <span class="yellow-text">Alzzin The WildShaper</span></td>
                                <td>Dungeon - <span class="yellow-text">Dire Maul</span></td>
                            </tr>
                        </tbody>
                    </table>

                    <h3>Waist Slot</h3>
                    <table>
                        <thead>
                            <tr>
                                <th></th>
                                <th>Item</th>
                                <th>Source</th>
                                <th>Location</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>Best</td>
                                <td class="purple-text">Sash Of Mercy</td>
                                <td>World Drop</td>
                                <td>World Drop</td>
                            </tr>
                            <tr>
                                <td>Optional</td>
                                <td class="blue-text">Whipvine Cord</td>
                                <td>Dropped by: <span class="yellow-text">Alzzin The WildShaper</span></td>
                                <td>Dungeon - <span class="yellow-text">Dire Maul</span></td>
                            </tr>
                        </tbody>
                    </table>

                    <h3>Legs Slot</h3>
                    <table>
                        <thead>
                            <tr>
                                <th></th>
                                <th>Item</th>
                                <th>Source</th>
                                <th>Location</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>Best</td>
                                <td class="purple-text">Salamander Scale Pants</td>
                                <td>Dropped by: <span class="yellow-text">Gehennas, Sulfuron Harbringer</span></td>
                                <td>Raid - <span class="yellow-text">Molten Core</span></td>
                            </tr>
                            <tr>
                                <td>Optional</td>
                                <td class="purple-text">Stormrage Legguards</td>
                                <td>Dropped by: <span class="yellow-text">Ragnaros</span></td>
                                <td>Raid - <span class="yellow-text">Molten Core</span></td>
                            </tr>
                            <tr>
                                <td>Enchant</td>
                                <td>Lesser Arcanum Of Rumination</td>
                                <td>Reward from Libram of Rumination </td>
                                <td>Arcanum Quest</td>
                            </tr>
                        </tbody>
                    </table>

                    <h3>Feet Slot</h3>
                    <table>
                        <thead>
                            <tr>
                                <th></th>
                                <th>Item</th>
                                <th>Source</th>
                                <th>Location</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>Best</td>
                                <td class="purple-text">Cenarion Boots</td>
                                <td>Dropped by: <span class="yellow-text">Lucifron</span></td>
                                <td>Raid - <span class="yellow-text">Molten Core</span></td>
                            </tr>
                            <tr>
                                <td>Optional</td>
                                <td class="blue-text">Verdant Footpads</td>
                                <td>Dropped by: <span class="yellow-text">Stonespine</span></td>
                                <td>Dungeon - <span class="yellow-text">Stratholme</span></td>
                            </tr>
                        </tbody>
                    </table>

                    <h3>Rings Slots</h3>
                    <table>
                        <thead>
                            <tr>
                                <th></th>
                                <th>Item</th>
                                <th>Source</th>
                                <th>Location</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>Best</td>
                                <td class="purple-text">Mark Of the Dragon Lord</td>
                                <td>Dropped by: <span class="yellow-text">Overlord Wyrmthalak</span></td>
                                <td>Dungeon - <span class="yellow-text">Lower Blackrock Spire</span></td>
                            </tr>
                            <tr>
                                <td>Best</td>
                                <td class="purple-text">Cauterizing Band</td>
                                <td>Dropped by: <span class="yellow-text">Majordomo Executus</span></td>
                                <td>Raid - <span class="yellow-text">Molten Core</span></td>
                            </tr>
                        </tbody>
                    </table>

                    <h3>Trinket Slots</h3>
                    <table>
                        <thead>
                            <tr>
                                <th></th>
                                <th>Item</th>
                                <th>Source</th>
                                <th>Location</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>Best</td>
                                <td class="purple-text">Shard Of The Scale</td>
                                <td>Dropped by: <span class="yellow-text">Onyxia</span></td>
                                <td>Raid - <span class="yellow-text">Onyxia's Lair</span></td>
                            </tr>
                            <tr>
                                <td>Best</td>
                                <td class="blue-text">Royal Seal of Eldre'Thalas</td>
                                <td>Reward from The Emerald Dream</td>
                                <td>Dungeon - <span class="yellow-text">Dire Maul</span></td>
                            </tr>
                        </tbody>

                    </table>

                    <h3>Main Hand Slot</h3>
                    <table>
                        <thead>
                            <tr>
                                <th></th>
                                <th>Item</th>
                                <th>Source</th>
                                <th>Location</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>Best</td>
                                <td class="purple-text">Aurastone Hammer</td>
                                <td>Dropped by: <span class="yellow-text">Garr</span></td>
                                <td>Raid - <span class="yellow-text">Molten Core</span></td>
                            </tr>
                            <tr>
                                <td>Optional</td>
                                <td class="blue-text">The Hammer Of Grace</td>
                                <td>Dropped by: <span class="yellow-text">Doom'rel</span></td>
                                <td>Dungeon - <span class="yellow-text">Blackrock Depths</span></td>
                            </tr>
                            <tr>
                                <td>Enchant</td>
                                <td>Enchant Weapon - Healing Power</td>
                                <td>Enchanting Formula</td>
                                <td>Drops from <span class="yellow-text">Magmadar</span></td>
                            </tr>
                        </tbody>
                    </table>

                    <h3>Off-Hand Slot</h3>
                    <table>
                        <thead>
                            <tr>
                                <th></th>
                                <th>Item</th>
                                <th>Source</th>
                                <th>Location</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>Best</td>
                                <td class="blue-text">Brightly Glowing Stone</td>
                                <td>Dropped by: <span class="yellow-text">King Gordokk</span></td>
                                <td>Dungeon-Dire Maul</td>
                            </tr>
                            <tr>
                                <td>Optional</td>
                                <td class="blue-text">Thaurissan's Royal Scepter</td>
                                <td>Dropped by: <span class="yellow-text">Emperor Dagran Thaurissan</span></td>
                                <td>Dungeon - <span class="yellow-text">Blackrock Depths</span></td>
                            </tr>
                        </tbody>
                    </table>
                </section>
            </div>
        </section>

        <section class="section-border">
            <h2 id="stats" class="basic-header">Stats</h2>
            <h3>Intellect</h3>
            <p>Intellect increases your maximum Mana, increases your chance to critically strike with spells, and improves the rate at with you improve your Weapon Skills. You gain 15 Mana for each point of Intellect. Druids receive 1% Spell Critical Strike
                Chance for every 60 points of Intellect.</p>
            <p>In other words:</p>
            <ul>
                <li>1 Intellect=15 Mana</li>
                <li>60 Intellect= 1% Spell Critical Chance</li>
            </ul>
            <section>
                <h3>Spirit</h3>
                <p>Spirit increases Health regeneration while out of combat and increases Mana regeneration while not casting spells. Mana begins to regenerate via Spirit only when you have not cast any spells that cost Mana for 5 seconds</p>
                <p>After this, you'll begin to regenerate Mana every 2 seconds depending on if you are a caster or a Feral Druid:</p>
                <ul>
                    <li>For a caster Druid: Spirit/4.5 + 15</li>
                    <li>For a Feral Druid: Spirit/5 + 15</li>
                </ul>
            </section>
            <section>
                <h3>Stamina</h3>
                <p>Stamina increases your maximum Health. You gain 10 Health for every point of Stamina.</p>
                <p>In other words:</p>
                <ul>
                    <li>1 Stamina = 10 Health</li>
                </ul>
            </section>
            <section>
                <h2>Secondary Stats</h2>
                <h3>Healing Power</h3>
                <p>Healing Power increases how much your healing spells will heal your target. This is a very powerful stat for healing Druids. You'll be looking to gather as much of this as possible through gear and enchants.</p>
                <h3>Mana/5 Seconds</h3>
                <p>Also known as MP5, this stat will regenerate a certain amount of Mana every 5 seconds. This stat is independent of Spirit and the "Five Second Rule," working even while constantly casting in combat.</p>
                <h3>Spell Critical Chance</h3>
                <p> Spell Critical Strike increases your chance to strike a critical hit with spells. A critical spell hit deals 150% of a spell’s normal damage. You can gain Spell Critical Strike with Intellect or with raw Spell Critical Strike chance provided
                    on gear.
                </p>
            </section>
            <section>
                <h2>Stat Priority for Resto Druids</h2>
                <ol>
                    <li>Healing power</li>
                    <li>Mana/5 Seconds</li>
                    <li>Spirit</li>
                    <li>Intellect</li>
                    <li>Spell Crit</li>
                </ol>
            </section>
        </section>
        <section id="consumables" class="section-border">
            <h2 class="basic-header">Consumables</h2>
            <h3>Top Consumables for Healing Druids</h3>
            <ul>
                <li>Major Mana Potion</li>
                <li>Demonic Rune</li>
                <li>Nightfin Soup</li>
                <li>Flask of Distilled Wisdom</li>
            </ul>
        </section>

        <section id="talents&builds" class="section-border">
            <h2 class="basic-header">Talents and Builds</h2>
            <section>
                <h3>Moonglow Build</h3>
                <img class="page-image" alt="moonglow" title="moonglow" src="../images/moonglow.png">
                <p>Early on in Classic, mana efficiency is critical. Your mana pool will be fairly small, and you won’t have easy access to items with healing power on them. This build centers around conserving mana by going into the Balance talent tree
                    to grab the talent Moonglow.</p>
            </section>
            <section>
                <h3>Regrowth/Nature's Grace(My current build)</h3>
                <img class="page-image" alt="regrowth/nature's grace" title="regrowth/nature's grace" src="../images/regrowth-nature.png">
                <p>This build focuses on the Regrowth and Nature's Grace interaction. Basically, Improved Regrowth increases the crit chance of Regrowth, which can then reduce the cast time of your next spell by 0.5 seconds due to Nature's Grace. That can
                    lead to one nasty fast Healing Touch. The downside to using this build is that it does require a bigger mana pool, which is why it is advised to wait until you and your tank have acquired more gear.</p>
            </section>
            <section>
                <h3>Heart of the Wild / Nature's Swiftness(my starting build)</h3>
                <img class="page-image" alt="hotw" title="HoTw" src="../images/hotw.png">
                <p>The Heart of the Wild / Nature’s Swiftness build, also shortened to HotW/NS, is the best hybrid build for healing Druids.That means that u can dps in cat if u want, or tank in bear form as well. Starting out I used this build to generate
                    gold and heal at the same time </p>
            </section>
            <section>
                <h2>Rotation&Abilities</h2>
                <h3>Healing</h3>
                <p>Rotation is pretty straight forward.First of all let's talk about Downranking. In Classic u have multiple ranks of spell. A max ranks pell does the most healing but uses the most mana. This is why you should be using rank 4, 8, 10 Healing
                    Touch. Rank 4 Healing Touch is the most efficient healling spell in the entire game.</p>
                <p>When going the Regrowth build, I use rank 4 and 5 Regrowth, and make sure to keep a max rank of Rejuvenation on tank at all times.</p>
                <h3>Utility</h3>
                <p>Make sure you have Mark of the Wild up on the raid at all times, and Faerie Fire up on the boss at all times, as it gives the boss a 505 aromor reducing debuff which helps out the DPS.</p>
                <p>Keep your Rebirth for when your Raid-Leader calls for it.</p>
            </section>
        </section>

    </div>
</body>


</html>