<!DOCTYPE html>

<html lang="en">

<head>
    <meta name="viewport" content="width=device-width , initial-scale=1.0">
    <meta name="description" content="Druid Guides for WoW and WoW Classic">
    <meta name="keywords" content="Druid,Restoration,WoW,WoW Classic,Cangurul">
    <meta charset="UTF-8">
    <link type="text/css" rel="stylesheet" href="../css/DruidHub_Home.css" />
    <link rel="shortcut icon" type="image/png" href="../images/druidhub_logo.png">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <title>
        DruidHub:Guide for Druids
    </title>

</head>

<body>

    <header class="top-side">
        <% include ../fragments/DruidHub_header %>
    </header>
    <!--SITE TEMPLATE ENDS HERE-->


    <main class="first-page-content">
        <section class="border-section">
            <h2 class="main-header">Welcome to DruidHub</h2>
            <p>Here you'll find the latest guides, including tips and tricks for the Druid Class in World Of Warcraft, including World Of Warcraft Classic.</p>
            <p>The guide will be mainly for <span class="resto-font">Restoration</span> Specialization but expect more in the future, such as Balance Guides and Feral DPS classes. Feel free to analyze my combat data and achievements on <a href="https://www.warcraftlogs.com/">Warcraft Logs</a>with
                the name <span class="cangurul-font">Cangurul</span> on both WoW and WoW Classic</p>
        </section>


        <div class="page-interaction-arrow">
            <a href="#scroll-about-me">
                <i class="arrow-down"></i>
            </a>
        </div>
        <section class="border-section">
            <h2 class="main-header">Shadowlands</h2>
            <p>
                <span class="blizzard-font">Blizzard</span> just announced Shadowlands expansion, along with a really cool trailer a couple of days ago at BlizzCon. I'll definately be playing this expansion and try to push a rank as high as I can into
                the first week of raiding so stay tuned for my build that I'll be running this future expansion.
            </p>

        </section>

        <div class="shadowlands-video">
            <video controls>
            <source src="../videos/shadowlands.mp4" type="video/mp4">
            </video>
        </div>
        <section class="border-section">
            <h2 id="scroll-about-me" class="main-header">About Me</h2>
            <p>I've been playing WoW since The Wrath of The Lich King on private servers with not much passion for the game but i enjoyed it from time to time. My passion grew and I decided to start playing on official servers when Mists Of Pandaria Launched
                back in 2012.</p>
            <p>I began to like the versatility of druids and started playing one among other classes casually in a Romanian Guild called Draco.</p>
            <p>When the next expansion launched, Warlords of Draenor, I started playing WoW more seriously and trying to improve my gameplay. I began logging quite high on a site that tracks your performance. A couple of months later I was ranked in top
                100 world Restoration Druid ladder and i continued to play at a high level, which is Mythic Raids, all the expansions after, but with breaks.</p>
            <p>Some of my highest ranks include:</p>
            <ul>
                <li>Top 10 world Restoration Druid in Hellfire Citadel</li>
                <li>Top 10 world Restoration Druid in The Emerald Nightmare, with some high logs as Balance Druid as well.</li>
                <li>Top 5 Realm in Battle for Azeroth season 1, mythic+ dungeons, as Restoration Druid</li>
                <li>Top 6 DPS world on Onyxia as Restoration Druid, WoW Classic</li>
                <li>Top 80 world Molten Core as Restoration Druid, Wow Classic</li>
            </ul>
        </section>

    </main>


</body>



</html>