<!DOCTYPE html>

<html lang="en">

<head>
    <meta name="viewport" content="width=device-width , initial-scale=1.0">
    <meta name="description" content="Druid Guides for WoW and WoW Classic">
    <meta name="keywords" content="Druid,Restoration,WoW,WoW Classic,Cangurul">
    <meta charset="UTF-8">
    <link type="text/css" rel="stylesheet" href="../css/DruidHub_logout.css" />
    <link rel="shortcut icon" type="image/png" href="../images/druidhub_logo.png">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <title>
        DruidHub:Guide for Druids
    </title>

</head>

<body>

    <header class="top-side">
        <% include ../fragments/DruidHub_header %>
    </header>


    <main>
        You logged out!
    </main>

</body>